STGWIFI8/Service References/ServiceReference1/serBuyer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetBuyerIdForCon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyeruserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetBuyerIdForConResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_GetBuyerIdForConResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetPurchaseByMerchantbname">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetPurchaseByMerchantbnameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_GetPurchaseByMerchantbnameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetPurchaseByCatname">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetPurchaseByCatnameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_GetPurchaseByCatnameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetPurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetPurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_GetPurchaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="buyerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_GetGeneralResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_CreateBuyerId">
        <s:complexType />
      </s:element>
      <s:element name="Buyer_CreateBuyerIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_CreateBuyerIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buyer_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="Buyer_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buyer_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBuyer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBuyerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateBuyerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetBuyerIdForConSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_GetBuyerIdForCon" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetBuyerIdForConSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_GetBuyerIdForConResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_Login" />
  </wsdl:message>
  <wsdl:message name="Buyer_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetPurchaseByMerchantbnameSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_GetPurchaseByMerchantbname" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetPurchaseByMerchantbnameSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_GetPurchaseByMerchantbnameResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetPurchaseByCatnameSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_GetPurchaseByCatname" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetPurchaseByCatnameSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_GetPurchaseByCatnameResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetPurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_GetPurchase" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetPurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_GetPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_GetGeneral" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_GetGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_CreateBuyerIdSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_CreateBuyerId" />
  </wsdl:message>
  <wsdl:message name="Buyer_CreateBuyerIdSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_CreateBuyerIdResponse" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:Buyer_GetAll" />
  </wsdl:message>
  <wsdl:message name="Buyer_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:Buyer_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBuyerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBuyer" />
  </wsdl:message>
  <wsdl:message name="UpdateBuyerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBuyerResponse" />
  </wsdl:message>
  <wsdl:portType name="serBuyerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetBuyerIdForCon">
      <wsdl:input message="tns:Buyer_GetBuyerIdForConSoapIn" />
      <wsdl:output message="tns:Buyer_GetBuyerIdForConSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_Login">
      <wsdl:input message="tns:Buyer_LoginSoapIn" />
      <wsdl:output message="tns:Buyer_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchaseByMerchantbname">
      <wsdl:input message="tns:Buyer_GetPurchaseByMerchantbnameSoapIn" />
      <wsdl:output message="tns:Buyer_GetPurchaseByMerchantbnameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchaseByCatname">
      <wsdl:input message="tns:Buyer_GetPurchaseByCatnameSoapIn" />
      <wsdl:output message="tns:Buyer_GetPurchaseByCatnameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchase">
      <wsdl:input message="tns:Buyer_GetPurchaseSoapIn" />
      <wsdl:output message="tns:Buyer_GetPurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetGeneral">
      <wsdl:input message="tns:Buyer_GetGeneralSoapIn" />
      <wsdl:output message="tns:Buyer_GetGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_CreateBuyerId">
      <wsdl:input message="tns:Buyer_CreateBuyerIdSoapIn" />
      <wsdl:output message="tns:Buyer_CreateBuyerIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetAll">
      <wsdl:input message="tns:Buyer_GetAllSoapIn" />
      <wsdl:output message="tns:Buyer_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer">
      <wsdl:input message="tns:UpdateBuyerSoapIn" />
      <wsdl:output message="tns:UpdateBuyerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serBuyerSoap" type="tns:serBuyerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetBuyerIdForCon">
      <soap:operation soapAction="http://tempuri.org/Buyer_GetBuyerIdForCon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_Login">
      <soap:operation soapAction="http://tempuri.org/Buyer_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchaseByMerchantbname">
      <soap:operation soapAction="http://tempuri.org/Buyer_GetPurchaseByMerchantbname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchaseByCatname">
      <soap:operation soapAction="http://tempuri.org/Buyer_GetPurchaseByCatname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchase">
      <soap:operation soapAction="http://tempuri.org/Buyer_GetPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetGeneral">
      <soap:operation soapAction="http://tempuri.org/Buyer_GetGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_CreateBuyerId">
      <soap:operation soapAction="http://tempuri.org/Buyer_CreateBuyerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetAll">
      <soap:operation soapAction="http://tempuri.org/Buyer_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer">
      <soap:operation soapAction="http://tempuri.org/UpdateBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serBuyerSoap12" type="tns:serBuyerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetBuyerIdForCon">
      <soap12:operation soapAction="http://tempuri.org/Buyer_GetBuyerIdForCon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_Login">
      <soap12:operation soapAction="http://tempuri.org/Buyer_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchaseByMerchantbname">
      <soap12:operation soapAction="http://tempuri.org/Buyer_GetPurchaseByMerchantbname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchaseByCatname">
      <soap12:operation soapAction="http://tempuri.org/Buyer_GetPurchaseByCatname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetPurchase">
      <soap12:operation soapAction="http://tempuri.org/Buyer_GetPurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetGeneral">
      <soap12:operation soapAction="http://tempuri.org/Buyer_GetGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_CreateBuyerId">
      <soap12:operation soapAction="http://tempuri.org/Buyer_CreateBuyerId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buyer_GetAll">
      <soap12:operation soapAction="http://tempuri.org/Buyer_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer">
      <soap12:operation soapAction="http://tempuri.org/UpdateBuyer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serBuyer">
    <wsdl:port name="serBuyerSoap" binding="tns:serBuyerSoap">
      <soap:address location="http://dreamshop.apphb.com/WebServices/serBuyer.asmx" />
    </wsdl:port>
    <wsdl:port name="serBuyerSoap12" binding="tns:serBuyerSoap12">
      <soap12:address location="http://dreamshop.apphb.com/WebServices/serBuyer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>